/* Estilos generales */
html{
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}



header {
    background-color:rgb(133, 66, 172);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    overflow: hidden;
}

/* Estilos de encabezados */
h1 {
    font-size: 36px;
    color: #ffffff;
    position: absolute;
    width: 100%;
    text-align: left;
    background-color:rgba(0, 0, 0, 0.712);
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

h2 {
    font-size: 24px;
    color: rgb(79, 14, 165);
}

nav {
    background-color: rgb(133, 66, 172);
    margin-top: 20px;
}

nav ul {
    list-style: none;
    width: 100%;
    padding-inline-start: 0;
    display: flex;
    margin-block-end: 0;
    margin-block-start: 0;
}

nav ul a {
    margin: auto;
    text-decoration: none;
    color: rgb(48, 48, 48);
   
}

#border{
    border: 1px solid rgb(255, 255, 255);
    height: 30px;
}

/* Estilos de sección */
section {
    border-radius: 4px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

span{
    color: black;
    padding-left: 10px;
}

#title-span{
    font-weight: 600;
    font-size: 110%;
    color: rgb(79, 14, 165);

}

#signos ul{
    padding-top: 20px;
    border-top: 1px solid rgba(79, 14, 165, 0.356);
}

/* Estilos de pie de página */
footer {
    background-color: #202020;
    color: rgb(172, 172, 172);
    text-align: center;
    padding-top: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

footer span{
    color: rgb(172, 172, 172);
}

footer ul{
    padding: 0;
}

footer a{
    color:rgb(172, 172, 172);

}

/* Estilos de enlaces */
a:not(#a) {
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: underline;
    transform: scale(1.03);
    transition: 0.1s;
}

/* galeria */

button:first-child{
    position: absolute;
    bottom: 50%;
    left: 0;
    z-index: 101;
}
button:last-child{
    position: absolute;
    bottom: 50%;
    right: 0;
    z-index: 102;
}

button{
    height: 40px;
    border-radius: 50%;
    width: 40px;
    border: none;
    color: white;
    background-color: rgba(79, 14, 165, 0.301);
}

button:hover{
    background-color: rgba(79, 14, 165, 0.678);
    cursor: pointer;
}

#markers-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#markers{
    display: flex;
    justify-content: center;
    align-items: center;
}

#a{
    text-decoration: none;
}

#a:hover{
    cursor:pointer;
}

#a.active{
    font-size: 140%;
    color: rgb(79, 14, 165);
}

#a:not(.active){
    color: rgba(91, 19, 150, 0.637);
}

#gallery{
    max-width: 400px;
    position: relative;
    height: 330px;
    margin: auto;
}

#gallery-container img{
    width: 100%;
    position: absolute;
}

#gallery-container img:not(.active){
    display: none;
}

#gallery-container{
    max-width:300px;
    width: 100%;
    display: flex;
    margin: auto;
    position: relative;
}

#carroussel{
    width:100%;
    padding-top: 20px;
}

/* recursos */

#recursos img{
    width: 100%;
}

/* media querys */

@media (min-width: 500px){
    body{
        width: 100%;
    }
    section{
        padding: 20px;
        max-width: 80%;
    }
    header img{
        width: 70%;
    }
}

@media (max-width: 500px){
    body{
        width: 100%;
    }
    section{
        padding-top: 10px;
        width: 100%;
    }
    h2{
        padding: 5px;
    }
    p{
        padding: 10px;
    }
    header img{
        width: 100%;
    }
}

@media (max-width: 960px){
    nav ul{
        display: flex;
        flex-direction: column;
        transform: translateX(-1000px);
    }
    nav{
        display: none;
    }

    header{
        display: flex;
        flex-direction:column-reverse;
        position:static;
    }
    h1{
        position: relative;
    }
    header img{
        position: relative;
        width: 100%;
    }
}